{% extends "base.html" %}
{% block titulo %}Principal{% endblock %}
{% block principal %}

{% if produtos is none or produtos|length == 0 %}
<h4>
    Nenhum produto cadastrado.
</h4>
{% else %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 rowcols-xxl-6 g-4 mb-0">
    {% for p in produtos %}
    <div class="col">
        <div class="card h-100">
            <!-- produto.id_com_format = "{:04d}".format(p.id) -->
            <img src="/static/img/produtos/{{ '{:04d}'.format(p.id)}}.jpg" class="card-img-top" alt="{{ p.nome }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.nome }}</h5>
                <div class="texto-3-linhas">
                    <p class="card-text">
                        {{p.descricao}}
                    </p>
                </div>
                <p class="card-text"><small class="text-muted">{{p.preco}}</small></p>
            </div>
            <div class="card-footer text-center">
                <a href="/produto/detalhes/{{p.id}}" class="btn btn-secondary btn-sm me2">Detalhes</a>
                <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endif %}
{% endblock %}