<html>

<head>
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="shortcut icon" href="/static/img/icone.svg" type="image/xicon">
    <title>
        Loja Virtual ::
        {% block titulo %}{% endblock %}
    </title>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logotipo.svg" alt="Logotipo Loja
Virtual" height="48">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bstoggle="collapse" data-bs-target="#navbarPrincipal"
                aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end collapse" id="navbarPrincipal">
                <div class="navbar-nav">
                    <a class="nav-link text-center {{'active' if
request.url.path == '/'}}" href="/">Principal</a>
                    {% if not usuario: %}
                    <a class="nav-link text-success text-center text-sucess {{'active' if
request.url.path == '/usuario/novo/'}}" href="/usuario/novo">Criar Conta</a>
                    <a class="nav-link text-center {{'active' if
request.url.path == '/login/'}}" href="/login">Entrar</a>
                    {% else: %}
                    {% if usuario.admin: %}
                    <a class="nav-link text-center {{'active' if
request.url.path == '/produto/'}}" href="/produto">Produtos</a>
                    <a class="nav-link text-center {{'active' if
request.url.path == '/usuario/'}}" href="/usuario">Usuários</a>
                    {% endif %}
                    <a class="nav-link text-center text-success {{'active' if
request.url.path == '/usuario/'}}" href="/usuario/arearestrita">Área restrita</a>
                    <a class="nav-link text-center {{'active' if
request.url.path == '/logout'}}" href="/logout">Sair</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% include "includes/mensagem.html" with context %}
    <main class="container my-4">
        {% block principal %}
        {% endblock %}
    </main>
    <footer class="p-3 text-bg-dark text-center mt-auto">
        <div class="col-6 offset-3">
            <p class="small m-0">
                <img src="/static/img/logotipo.svg" alt="Logotipo Loja
Virtual" height="36"><br>
                <span class="small">Este site é resultado do trabalho final
                    da disciplina de <b>Programação para a Web</b> do Curso Técnico em
                    Informática do Ifes Campus Cachoeiro, ministrada pelo Prof. Ricardo Maroquio
                    ao longo do segundo semestre de 2023.</span><br>
                Desenvolvido por:<br>
                <b>Luisa Bazoni Lunz</b> & <b>Milena Thiebaut Pecini</b><br>
                Copyright &copy; 2023<br>
                Todos os direitos reservados
            </p>
        </div>
    </footer>
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>